body {
    /* background-color: rgba(236, 240, 241,1.0); */
    background-image: url('https://wallpaperscraft.com/image/city_night_cathedral_sky_view_from_top_russia_moscow_47874_1920x1080.jpg');
    background-size: cover;
}
.container {
    margin-top: 50px;
    margin-bottom: 50px;
}
.containerParent {
    height: auto;
    padding:5px;
    background-color: #fff;
    min-height: 70vh;
    height: auto;
}
.mainmenu {
    padding: 0;
}