body {
    /* background-color: rgba(236, 240, 241,1.0); */
    background-image: url('../images/background_01.jpg');
    background-size: cover;
}
.container {
    margin-top: 50px;
    margin-bottom: 50px;
}
.containerParent {
    height: auto;
    padding:5px;
    background-color: #fff;
    min-height: 70vh;
    height: auto;
}
.mainmenu {
    padding: 0;
}